body {
  width: 99.1vw !important;
  height: 100% !important;

  font-family: 'Raleway', sans-serif;
  font-family: 'East Sea Dokdo', cursive;
  font-family: 'Waiting for the Sunrise', cursive;
  font-family: 'Reenie Beanie', cursive;
  /* font-family: 'Over the Rainbow', cursive;
    font-family: 'Liu Jian Mao Cao', cursive; */
}

:root {
  --black: #0c0c0c;
}

.TextProfil {
  margin-top: 0px !important;
  margin-bottom: 0px;
}

.Error {
  background-image: url(images/Error.png);
  height: 27vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  z-index: 5;
}

.HeightContent {
  width: 100%;
  height: auto;
  background-color: #0d0225;
}
.name{
    height: 100vh;
}
.BackMobileViewPort {
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url(images/texturH.jpg);
  background-image: url(images/crumpled-paperjpg.jpg); */
  background-image: url(images/chalk_1.png), url(images/chalk_2.jpg);
 background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;

  
  /* background-size: cover; */
  /* width: ; */
  height: 100vh;
  opacity: 0.6;
}
.parallax_content{


 /* background-image: url(images/chalk_33.jpg); */
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
    width: 100%;
  height: 100vh;
   z-index: -1;
   
  background-color: #04000e;
    /* opacity: 0.56; */
}
.Profile{
  position: relative;
 background-color: #060014;

   /* background-image: url(images/image_part.png); */
}
.image_large{


   background-image: url(images/image_part.png);
  background-position: center;
    background-size: cover;
   height: 10vh;


}
.image_small{

 opacity: 0.38;
} 
 /* .profile_inner{
 background-color: #060014da;
} */

.Contact {
  /* background-image: url(images/paper.jpg); */
  width: auto;
  height: 100%;
   background-color: #09011f;
}

.Line {
  background-image: url(images/line.png);
  height: 30vh;
  /* width: 70%; */
  background-position: -1vw 4vh;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid red; */
  z-index: 5;
  padding-left: 2vw;
}



.hover_reveal{
  opacity: 0;

  /* transform: translate(0,-20px); */
  transition: 0.6s ease-in-out;
}
.hover_reveal_inner{

display: block;
will-change: transform;
 overflow: hidden;
}
.hovver_reveal_imgr{
  opacity: 0;

will-change: transform;
  transform: scale(0.1,0.1);
  transition: 1.5s ease-in-out   ; 
}
/* =================================================================================( Fontsize Start)====================================================================================================================== */
.FontSize3 {
  font-size: 1.8vw;
  color: #928975;
}

.FontSize4 {
  font-size: 5vw;
  color: #928975;
   color: #d4d5d9;
     color: #d4bea3;
  opacity: 0.9;
}

.FontSize1 {
  font-size: 1vw;
  /* color: #928975;
   color: #d4d5d9;
     color: #d4bea3; */
        color: #d4d5d9;
  opacity: 0.9;
    /* font-family: 'Reenie Beanie', cursive; */
  font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.FontSize5 {
  font-size: 4.5vw;
  color: #e7d3bb;
   /* color: #d4d5d9; */
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  opacity: 0.9;
  z-index: 4;
}

.FontSize1-5 {
  font-size: 1.5vw;
  color: #615a4b;
    color: #d4d5d9;
        color: #e7d3bb;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  z-index: 5;
}
.FontSize1-6 {
  font-size: 1.9vw;
  color: #615a4b;
    color: #d4d5d9;
        color: #e7d3bb;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  z-index: 5;
}
.FontSize1-2 {
  font-size: 1.2vw;
  color: #615a4b;
    color: #d4d5d9;
        color: #e7d3bb;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  z-index: 5;
}

.FontSize1 {
  font-size: 1vw;
  color: #070500;
  color: #d4d5d9;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.FontSize1-4 {
  font-size: 1.4vw;
  color: #928975;
  color: #d4d5d9;

}

.FontSize1-2Raleway {
  font-size: 0.8vw;
  color: #615a4b;
    color: #d4bea3;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15vw;

}

.FontSize1-3Raleway {
  font-size: 1.2vw;
  color: #615a4b;
    color: #d4bea3;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  opacity: 0.9;

}




/* =================================================================================( Fontsize End)====================================================================================================================== */
.LetterSpase04 {
  letter-spacing: 0.4vw;
}
.LetterSpase03 {
  letter-spacing: 0.3vw;
}

#stage {
  height: 100vh;
  width: 100%;
  /* background: #262626; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .PlaceHolder {
  background-image: url(images/paper.jpg);
  width: auto;
  height: auto;
  height: 20px;
} */

.box {
  height: auto;
  width: 100%;
}

.Hover {
  text-decoration: none;
}

.Hover:hover {
  /* color: #070500; */
  font-weight: 700;
     color: #d4bea3;
}

.RotationNavLinks {
  transform: rotate(-90deg);
  width: 17vw;
  height: 9vh;
}
.slide-num {
  position: fixed;
  top: 55vh;
  left: 0vw;
}

.NavFixed {
  width: 100%;
  position: fixed;
  background-color: #0d02251a;
/* opacity: 0.9; */
  transition: 0.3s ease-in-out;
  z-index: 4;
}

.NavActiv {
     transition: 0.3s ease-in-out;
   background-color: #0d0225;
  /* box-shadow: 5px -1px 12px -5px rgb(255, 254, 254); */
  z-index: 4;

}
main {
  height: 200vh;
}

.slide {
  width: 100%;
  height: auto;
}
a{text-decoration: none;}

.link_mages:hover{
font-weight: bolder;
  transition: 0.2s ease-in-out;
}
@media (max-width: 1399.98px) {
}
/* =================================================================================(1200px)====================================================================================================================== */
@media (max-width: 1200px) {
  .RotationNavLinks {
    transform: rotate(-90deg);
    width: 13vw;
    height: 4vh;
  }
  .FontSize1-2Raleway {
    font-size: 1.7vw;
    color: #615a4b;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .FontSize1 {
    font-size: 1.3vw;
    color: #070500;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  .FontSize1-4 {
    font-size: 1.8vw;
    color: #928975;
  }
}
/* @media (max-width: 1141px) {} */
/* =================================================================================( 992px)====================================================================================================================== */
@media (max-width: 992px) {
  .Error {
    background-image: url(images/Error.png);
    height: 29vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    z-index: 5;
  }
  .FontSize1 {
    font-size: 1.5vw;
    color: #070500;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  .FontSize1-4 {
    font-size: 1.6vw;
    color: #928975;
  }
}
/* =================================================================================( 768px)====================================================================================================================== */
@media (max-width: 768px) {
  .box2 {
    width: 58% !important;
  }
  .FontSize1-2Raleway {
    font-size: 1.9vw;
    color: #615a4b;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .FontSize1 {
    font-size: 1.5vw;
    color: #070500;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  .FontSize1-5 {
    font-size: 2.2vw;
    color: #615a4b;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .FontSize1-4 {
    font-size: 1.9vw;
    color: #928975;
  }
  .RotationNavLinks {
    transform: rotate(-90deg);
    width: 13vw;
    height: 5vh;
  }
}
/* =================================================================================( 576px)====================================================================================================================== */
@media (max-width: 576px) {
  .box2 {
    width: 100% !important;
  }
  .Error {
    background-image: url(images/Error.png);
    height: 22vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    z-index: 5;
  }
  .HeightContent {
    background-image: none;
    width: 100%;
    height: auto;
    z-index: -5;
  }
  /* .BackMobile {
    background-image: url(images/paper.jpg);
    width: 100%;
    height: 66vh !important;
    z-index: 1;
  }
  .BackMobileViewPort {
    background-image: url(images/paper.jpg);
    width: 100%;
    height: 18vh !important;
    z-index: 1;
  } */
  /* .Portrait {
        position: fixed;
        z-index: -1;
        opacity: 1;
        top: 0;
        right: 1.5vw;
        bottom: 0;
        background-image: radial-gradient(var(--black) 4%, transparent 8%);
        background-position: 0 0;
        background-size: 9px 10px;
    
    } */
  .Line {
    background-image: none;
    height: 100%;
    /* width: 70%; */
    background-position: -1vw 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid red; */
    z-index: 5;
    padding-left: 2vw;
  }
  .FontSize1-2Raleway {
    font-size: 3.3vw;
    color: #615a4b;
  
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .FontSize1 {
    font-size: 3.5vw;
    color: #070500;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  .FontSize1-4 {
    font-size: 3.6vw;
    color: #928975;
  }
  .FontSize1-5 {
    font-size: 4.5vw;
    color: #615a4b;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .FontSize1-4 {
    font-size: 3.9vw;
    color: #928975;
  }
  .FontSize4 {
    font-size: 6vw;
    color: #928975;
  }
  .FontSize5 {
    font-size: 6vw;
    color: #615a4b;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
}
