

html {
  scrollbar-width: none;
}

body {
  width: 99.1vw !important;
  height: 100% !important;

  font-family: 'Raleway', sans-serif;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Reenie Beanie', cursive;
  overscroll-behavior: none;
	overflow-x: hidden;
    height: 100vh !important;
}


:root {
  --black: #0c0c0c;
}
.Profile3{
  background-color: #060012;
height: 100vh;

}
.containerA {
	width: 600%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
  border: #0d0225 solid 2px;

	}
.panel{
		width: 100%;
		height: 100vh;
color: #070500;
  border: solid red 1px;
}


.Viewport {
  background-color: #060012;
  overflow: hidden;
}
.Viewport_Contact {
  background-image: url(images/Contact.jpg);
  height: 65vh;
  width: 22% !important ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Viewport_Contact_Mobile {
  background-image: url(images/Contact.jpg);
  height: 65vh;
  width: 22% !important ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: none !important;
}
.Viewport_Contact:hover {
  background-image: url(images/ContactHover.jpg);
  height: 65vh;
  width: 22%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-duration: 00.7s;
  color: beige;
}
.Viewport_Profile {
  background-image: url(images/Profile.jpg);
  height: 96vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Viewport_Profile_Mobile {
  background-image: url(images/Profile.jpg);
  height: 96vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none !important;
}
.Viewport_Profile:hover {
  background-image: url(images/ProfileHover.jpg);
  height: 96vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 00.7s;

  color: #001515;
}
.Viewport_Projects {
  background-image: url(images/ShapeB.jpg);
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Viewport_Projects:hover {
  background-image: url(images/ShapeBHover.jpg);
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #240900;
}
.Vieport_Title {
  background-image: url(images/edward-bowden-OPTmTpuZO2o-unsplash.jpg);
  height: 15vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.Vieport_Workflow {
  background-image: url(images/Car.jpg);
  height: 25vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.Vieport_Workflow:hover {
  background-image: url(images/CarHover.jpg);
  height: 25vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 00.7s;
  color: #001c1a;
}
.Vieport_Shape {
  /* background-image: url(images/ShapeBlue.jpg); */
  height: 23vh;
  /* background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */
}

.TextProfil {
  margin-top: 0px !important;
  margin-bottom: 0px;
}

.Error {
  background-image: url(images/Error.png);
  height: 27vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  z-index: 5;
}
.wrapper {
  width: 100%;
}

.HeightContent {
  width: 100%;
  height: auto;

  background-color: #060014;
}
.name {
  height: 100vh;
}
.BackMobileViewPort {
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url(images/texturH.jpg);
  background-image: url(images/crumpled-paperjpg.jpg); */
  background-image: url(images/chalk_1.png), url(images/chalk_2_new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;

  /* background-size: cover; */
  /* width:auto ; */
  height: 100vh;
  opacity: 0.6;
}
#bg-01 {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.parallax_content {
  /* background-image: url(images/chalk_33.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  height: 100vh;
  z-index: -1;

  background-color: #04000e;
  /* opacity: 0.56; */
}
.Profile {
  position: relative;
  background-color: #060014;

  /* background-image: url(images/image_part.png); */
  min-height: 100vh;
}
.image_large {
  background-image: url(images/image_part.png);
  background-position: center;
  background-size: cover;
  height: 10vh;
}
.image_small {
  opacity: 0.38;
}
/* .profile_inner{
 background-color: #060014da;
} */

.Contact {
  width: auto;
  height: 100vh !important;

  background-color: #060014;
}
.contact_image {
  background-image: url(/images/Post.png);
  background-position: center;
  background-size: cover;
  height: 53vh;
font-size: 2.4vw;

}

.Line {
  background-image: url(images/line.png);
  height: 30vh;
  /* width: 70%; */
  background-position: -1vw 4vh;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid red; */
  z-index: 5;
  padding-left: 2vw;
}

.hover_reveal {
  opacity: 0;

  /* transform: translate(0,-20px); */
  transition: 0.6s ease-in-out;
}
.hover_reveal_inner {
  display: block;
  will-change: transform;
  overflow: hidden;
}
.hovver_reveal_imgr {
  opacity: 0;

  will-change: transform;
  transform: scale(0.1, 0.1);
  transition: 1.5s ease-in-out;
}
/* =================================================================================( Fontsize Start)====================================================================================================================== */
.FontSize3 {
  font-size: 1.8vw;
  color: #928975;
}

.FontSize4 {
  font-size: 5vw;
  color: #928975;
  color: #d4d5d9;
  color: #d4bea3;
  opacity: 0.9;
}

.FontSize1 {
  font-size: 1vw;
  /* color: #928975;
   color: #d4d5d9;
     color: #d4bea3; */
  color: #d4d5d9;
  opacity: 0.9;
  /* font-family: 'Reenie Beanie', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.FontSize5 {
  font-size: 4.5vw;
  color: #e7d3bb;
  /* color: #d4d5d9; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  opacity: 0.9;
  z-index: 4;
}

.FontSize1-5 {
  font-size: 1.5vw;
  color: #615a4b;
  color: #d4d5d9;
  color: #e7d3bb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  z-index: 5;
}
.FontSize1-6 {
  font-size: 1.9vw;
  color: #615a4b;
  color: #d4d5d9;
  color: #e7d3bb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  z-index: 5;
}
.FontSize1-2 {
  font-size: 1.2vw;
  color: #615a4b;
  color: #d4d5d9;
  color: #e7d3bb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  z-index: 5;
}

.FontSize1 {
  font-size: 1vw;
  color: #070500;
  color: #d4d5d9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.FontSizeMission {
  font-size: 1vw;
  color: #070500;
  /* color: #d4d5d9; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1vw;
}
.FontVieportPrfile {
  font-size: 3.5vw;
  color: #070500;
  color: #d4d5d9;
  color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5vw;
}
.FontVieportProject {
  font-size: 1.5vw;
  color: #070500;
  color: #d4d5d9;
  color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5vw;
}
.FontVieportTitle {
  font-size: 1.8vw;
  color: #070500;
  color: #d4d5d9;
  color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8vw;
}
.FontVieportWorkflow {
  font-size: 1.2vw;
  color: #070500;
  color: #d4d5d9;
  color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.3vw;
}
.FontSizeWorkflowTitle {
  font-size: 1.9vw;
  color: #070500;
  color: #d4d5d9;
  color: #e7d3bb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.4vw;
}

.FontSizeWorkflowUptodate {
  font-size: 1.3vw;
  color: #070500;
  color: #ffffff;
  color: #e7d3bb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.4vw;
}

.FontSize1-4 {
  font-size: 1.4vw;
  color: #928975;
  color: #d4d5d9;
}

.FontSize1-2Raleway {
  font-size: 0.8vw;
  color: #615a4b;
  color: #d4bea3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15vw;
}

.FontSize1-3Raleway {
  font-size: 1.2vw;

  color: #d4bea3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  opacity: 0.9;
}

/* =================================================================================( Fontsize End)====================================================================================================================== */
.LetterSpase04 {
  letter-spacing: 0.4vw;
}
.LetterSpase03 {
  letter-spacing: 0.3vw;
}

#stage {
  height: 100vh;
  width: 100%;
  /* background: #262626; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .PlaceHolder {
  background-image: url(images/paper.jpg);
  width: auto;
  height: auto;
  height: 20px;
} */

.box {
  height: auto;
  width: 100%;
}

.Hover {
  text-decoration: none;
}

.Hover:hover {
  /* color: #070500; */
  font-weight: 700;
  color: #d4bea3;
}

.RotationNavLinks {
  transform: rotate(-90deg);
  width: 17vw;
  height: 9vh;
}
.slide-num {
  position: fixed;
  top: 55vh;
  left: 0vw;
}

.NavFixed {
  width: 100%;
  position: fixed;
  background-color: #0d02251a;
  /* opacity: 0.9; */
  transition: 0.3s ease-in-out;
  z-index: 4;
}

.NavActiv {
  transition: 0.3s ease-in-out;
  background-color: #0d0225;
  /* box-shadow: 5px -1px 12px -5px rgb(255, 254, 254); */
  z-index: 4;
}
main {
  height: 200vh;
}

.slide {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.link_mages:hover {
  font-weight: bolder;
  transition: 0.2s ease-in-out;
}
.Workflow {
  width: 100%;
  height: auto;
  background-color: #0d0225;
  background-color: #060014;
  /* background-color: #09011f; */
}
/* .colWorkflowFirst {
  height: 60vh;
} */
.colAstronaut {
  background-image: url(images/astronaut-g06196fa59_1920.jpg);
  height: 50vh !important;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  /* z-index: 5; */
}
.Workflow_Preparation {
  height: 8vh;
  background-color: #fdac0f;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.2vw;
  font-weight: 400;
}
.Workflow_Title {
  /* background-image: url(images/Ideas_2.jpg); */
  height: 8.1vh;
  width: 100%;
  /* background-position:50vh  ; */
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: auto;
  /* border: 1px solid red; */
  color: #d4d5d9;
  font-size: 1.8vw;
}
.Workflow_Baby {
  background-image: url(images/Start.jpg);
  height: 50vh;
  width: 100%;
  /* background-position:50vh  ; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
}
.Workflow_Computer {
  background-image: url(images/bert.jpg);
  height: 60vh;

  /* background-position:50vh  ; */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.4vw;
  /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: 0.2vw;
  font-weight: 500;
}
.Workflow_ComputerNew {
  background-image: url(images/bulletin_dark.jpg);
  height: 40vh;
  /* width: 100%; */
  /* background-position:50vh  ; */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.4vw;
  /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: 0.2vw;
  font-weight: 500;
}
.Workflow-Music {
  background-image: url(images/Music_3.jpg);
  height: 40vh;
  /* width: 100%; */
  /* background-position:50vh  ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.5vw;
  /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: 0.2vw;
  font-weight: 500;
}
.colWorkflowFirst_3 {
  width: 23.2% !important;
}

.colWorkflowTwo_1 {
  height: 40vh;
  /* width: 35vw; */
}
.colWorkflowTwo_2 {
  height: 40vh;
  width: 61%;
}

@media (max-width: 1399.98px) {
  .Viewport_Contact {
    background-image: url(images/Contact.jpg);
    height: 65vh;
    width: 22% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
/* =================================================================================(1200px)====================================================================================================================== */
@media (max-width: 1200px) {
  .Viewport_Contact {
    background-image: url(images/Contact.jpg);
    height: 65vh;
    width: 21% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .RotationNavLinks {
    transform: rotate(-90deg);
    width: 13vw;
    height: 4vh;
  }
  .FontSize1-2Raleway {
    font-size: 1.7vw;
    color: #615a4b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .FontSize1 {
    font-size: 1.3vw;
    color: #070500;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  .FontSize1-4 {
    font-size: 1.8vw;
    color: #928975;
  }
}
/* @media (max-width: 1141px) {} */
/* =================================================================================( 992px)====================================================================================================================== */
@media (max-width: 992px) {
  .Error {
    background-image: url(images/Error.png);
    height: 29vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    z-index: 5;
  }
  .FontSize1 {
    font-size: 1.5vw;
    color: #070500;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  .FontSize1-4 {
    font-size: 1.6vw;
    color: #928975;
  }
}
/* =================================================================================( 768px)====================================================================================================================== */
.Viewport_Contact {
  background-image: url(images/Contact.jpg);
  height: 65vh;
  width: 22.1% !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .box2 {
    width: 58% !important;
  }
  .FontSize1-2Raleway {
    font-size: 1.9vw;
    color: #615a4b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .FontSize1 {
    font-size: 1.5vw;
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  .FontSize1-5 {
    font-size: 2.2vw;
    color: #615a4b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .FontSize1-4 {
    font-size: 1.9vw;
    color: #928975;
  }
  .RotationNavLinks {
    transform: rotate(-90deg);
    width: 13vw;
    height: 5vh;
  }
}
/* =================================================================================( 576px)====================================================================================================================== */
@media (max-width: 576px) {
  .Profile {
  position: relative;
  background-color: #060014;

  /* background-image: url(images/image_part.png); */
  min-height: 70vh;
}
  .FontVieportWorkflow {
    font-size: 4.6vw;

    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3vw;
  }
  .FontVieportProject {
    font-size: 4.6vw;

    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5vw;
  }
  .FontVieportTitle {
    font-size: 5vw;

    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.8vw;
  }
  .Vieport_Workflow {
    background-image: url(images/Car.jpg);
    height: 15vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Viewport_Projects {
    background-image: url(images/ShapeB.jpg);
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Viewport_Profile {
    background-image: url(images/Profile.jpg);
    height: 13vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: none !important;
  }
  .Viewport_Profile_Mobile {
    background-image: url(images/Profile.jpg);
    height: 13vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: block !important;
  }
  .FontVieportPrfile {
    font-size: 4.6vw;
    color: #070500;
    color: #d4d5d9;
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5vw;
  }
  .Viewport_Contact {
    background-image: url(images/Contact.jpg);
    height: 65vh;
    width: 50% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none !important;
  }
  .Viewport_Contact_Mobile {
    background-image: url(images/Contact.jpg);
    height: 65vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: block !important;
  }
  .wrapper {
    width: 100vw;
  }
  .box2 {
    width: 100% !important;
  }
  /* .contact_image {
    background-image: url(/images/iphone-email-nummber_2Dark.png);
    background-position: center;
    background-size: cover;
    height: 28vh;

    opacity: 0.75;
  } */

  .Contact {
  width: auto;
  height: 50vh !important;

  background-color: #060014;
}
  .contact_image {
  background-image: url(/images/Post.png);
  background-position: center;
  background-size: cover;
  height: 33vh;
  width:100% ;
font-size: 5.7vw;

}
  .Error {
    background-image: url(images/Error.png);
    height: 22vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    z-index: 5;
  }
  .HeightContent {
    background-image: none;
    width: 100%;
    height: auto;
    z-index: -5;
  }

  .Line {
    background-image: none;
    height: 100%;
    /* width: 70%; */
    background-position: -1vw 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid red; */
    z-index: 5;
    padding-left: 2vw;
  }
  .FontSize1-2Raleway {
    font-size: 3.4vw;

    color: #d4bea3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .FontSize1 {
    font-size: 3.5vw;

    color: #d4d5d9;
    opacity: 0.9;

    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  .FontSize1-4 {
    font-size: 3.6vw;
    color: #928975;
  }
  .FontSize1-3Raleway {
    font-size: 4.5vw;

    color: #d4bea3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 0.9;
  }

  .FontSize1-5 {
    font-size: 3.9vw;

    color: #e7d3bb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .FontSize1-4 {
    font-size: 3.9vw;
    color: #928975;
  }
  .FontSize4 {
    font-size: 11.4vw;
    color: #d4bea3;
    opacity: 0.9;
  }
  .FontSize5 {
    font-size: 8.8vw;
    color: #e7d3bb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 0.9;
    z-index: 4;
  }
  .FontSize1-6 {
    font-size: 4.4vw;

    color: #e7d3bb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    z-index: 5;
  }

  .FontSizeWorkflowUptodate {
    font-size: 4.2vw;
    color: #070500;
    color: #ffffff;
    color: #e7d3bb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.4vw;
  }
  .Workflow-Music {
    font-size: 5vw;
  }
  .Workflow_ComputerNew {
    font-size: 5vw;
  }

  .Workflow_Computer {
    font-size: 5vw;
  }
  .Workflow_Preparation {
    font-size: 5vw;
  }
  .FontSizeMission {
    font-size: 4vw;
  }
  .FontSizeWorkflowTitle {
    font-size: 4vw;
  }
  .Workflow_Title {
    font-size: 5vw;
  }
}
